.mermaid {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    transform: scale(1.5); /* Adjust the scale value as needed */
    transform-origin: top left;
}

.mermaid rect {
    stroke: #000000 !important; /* Change node borders */
}

.mermaid .primaryKey rect {
    fill: black !important
}

.mermaid .er .header {
    fill: #ffffff !important
}

.mermaid .er .entityBox {
    fill: #ffffff !important
}